body {
    overflow-x: hidden;
    
 
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    /* margin-left: -15rem; */
    /* -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out; */
    color: #F559B1;
    font-size: 30px;
    font-weight: bold;
    
    

  }
  
  #sidebar-wrapper .sidebar-heading {
    /* padding: 0.875rem 1.25rem; */
    font-size: 30px;
    
    
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    /* color: #F559B1 */
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
      /* color: #F559B1 */
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
    }

    .bg-light {
      background-color: white;
      color: #F559B1
  }

  .user-info{
    padding: 0.875rem 1.25rem;
    font-size: 25px;
    font-weight: normal;
    
  }

  a{
    text-decoration: none;
 }
 
  /* #page-content-wrapper{background-color: lightblue;} */