<!-- <div *ngIf="loggedIn">

</div> -->
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->

    <div class="bg-light border-right" id="sidebar-wrapper" >
      <div class="sidebar-heading "> 
        <img style='width: 20rem;' class="logo" src="assets/images/logo.svg">
        </div>
        <div class="user-info d-flex flex-row justify-content-center">
            <!-- <div class="p-2">
                <img src="assets/images/profilePic.svg">
            </div> -->
            <div class="p-2 d-flex flex-column justify-content-center" >
                <div class="p-2 " id="hello">Hello!</div>
                <!-- <div class="p-2 user-name">{{currentUser}}</div> -->
            </div>
           
        </div>
      <div class="d-flex flex-column buffer">
        <a href="#" class="bg-light p-2 text-center" (mouseover)="hoverEdit = true" (mouseout)="hoverEdit = false" routerLink="choose-groups" routerLinkActive #link ="routerLinkActive">
          <img *ngIf="hoverEdit || link.isActive"  src="assets/images/pointerOnNavbar.svg">
          Dashboard</a>
        <a href="#" class="bg-light p-2 text-center" (mouseover)="hoverEdit1 = true" (mouseout)="hoverEdit1 = false" routerLink="manage-groups" routerLinkActive #link2 ="routerLinkActive">
          <img *ngIf="hoverEdit1 || link2.isActive"  src="assets/images/pointerOnNavbar.svg">
          Manage Groups</a>
        <a href="#" class=" bg-light p-2 text-center" (mouseover)="hoverEdit2 = true" (mouseout)="hoverEdit2 = false" routerLink="settings" routerLinkActive #link3 ="routerLinkActive">
          <img *ngIf="hoverEdit2 || link3.isActive"  src="assets/images/pointerOnNavbar.svg">
          Settings</a>
        <a href="#" class=" bg-light p-2 text-center" (mouseover)="hoverEdit3 = true" (mouseout)="hoverEdit3 = false" routerLink="help" routerLinkActive #link4 ="routerLinkActive">
          <img *ngIf="hoverEdit3 || link4.isActive"  src="assets/images/pointerOnNavbar.svg">
          Help</a>
        <a href="#" class=" bg-light p-2 text-center"  (mouseover)="hoverEdit4 = true" (mouseout)="hoverEdit4 = false"routerLink="about-us" routerLinkActive #link5 ="routerLinkActive">
          <img *ngIf="hoverEdit4 || link5.isActive"  src="assets/images/pointerOnNavbar.svg">
          About Us</a>
        <a href="#" class="bg-light p-2 text-center" (mouseover)="hoverEdit5 = true" (click)="logout()" (mouseout)="hoverEdit5 = false"> 
          <img *ngIf="hoverEdit5"  src="assets/images/pointerOnNavbar.svg">
          Log Out</a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      
      <!-- Top navigation-->
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container-fluid">
              <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                      <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#!">Action</a>
                              <a class="dropdown-item" href="#!">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#!">Something else here</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </nav> -->
      <!-- Page content-->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
  </div>
    </div>
    <!-- /#wrapper -->
