.base{
    /* width: 100vw; */
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.postImg{
    /* min-width: none; */
}

.postImg p{
    font-size: 40px;
}

.info h2{
    color: #F559B1;
}