<div class="container based d-flex flex-column viewPosts">


    <div class="col-12 p-2 d-flex flex-column justify-content-center viewPosts" *ngIf="band && socialMedia">

        <div class="p-2 d-flex justify-content-center info">
            <h2> {{band.name | uppercase}} {{socialMedia.name | uppercase}}</h2>
        </div>

        <div infinite-scroll 
        [scrollWindow]="false"
        (scrolled)="onScrollDown($event)"  class="p-2 flex-column justify-content-center" id="scrollPosts">
            <ng-container  *ngFor="let post of posts">
                <div  *ngIf="post.bandId==band.id && post.socialMediaId==socialMedia.id ">
                     <div class="p-2" id="postText">
                      <p class="text-center">
                        {{post.postText}}
                        </p> 
                         <p class="text-center" id="date">
                        {{post.postDate}}
                        </p> 
                        <div class="p-2 justify-content-center text-center postImg" *ngIf="post.postImage!=[]">
                            <div *ngFor="let image of post.postImage">

                                <img id="postImg" src={{image}}>
                                
                            </div>
                        </div>

                    </div>
                </div> 

            </ng-container>
        </div>




    </div>

</div>


    <!-- <ng-container *ngFor="let post of posts"   >
    <div class="d-flex flex-column bts"  *ngIf="post.bandId==band.id && post.socialMediaId==socialMedia.id ">

    <div class="p-2" id="postText">
    <p class="text-center">
    {{post.postText}}
    </p> 
    <p class="text-center" id="date">
    {{post.postDate}}
    </p> 
    <div class="p-2 justify-content-center text-center postImg" *ngIf="post.postImage!=[]">
    <ng-container *ngFor="let image of post.postImage">

    <img src={{image}}>

    </ng-container>

    </div>
    </div>



    </div>
    </ng-container> -->
