.whiteBox{
    background-color: white;
    margin: 60px;
}

button#login-button{
        /* stroke: transparent; */
        outline: 0!important;
        color:white;
        border-width: 0;
        background-color: white;
}

#register{
    color: #F559B1;
    font-size: 30px;
}

.css-input{
    border-radius: 60px;
    border-color: #F559B1;
    width:640px;
    height:120px;
    border-width: 5px;
    font-size: 25px;
    color: #F559B1!important;

}

#passwordInput{
    padding-right: 20px;
    background: url(/assets/images/loginForm2.svg) no-repeat;
    background-position: 550px 30px;

}

#emailInput{
    padding-right: 20px;
    background: url(/assets/images/loginForm.svg) no-repeat;
    background-position: 550px 30px;
    
}


