#unavailable{
    height: 100vh;
}

.main p{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.help p{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.desc p{
    font-size: 30px;
    color: white;
    /* font-weight: bold; */
}

a:link{
    color: white;
}

a:visited{
    color: white;
}