/* You can add global styles to this file, and also import other style file*/

body{
    height: 100%;
    background-color: #F559B1;
    overflow-y:hidden;
    overflow-x: hidden;
    font-family: "Comic Sans MS";
  
}

@import url(//db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS);

@import '~bootstrap/dist/css/bootstrap.css';
/* @import "~@ng-select/ng-select/themes/default.theme.css"; */

@font-face {font-family: "Comic Sans MS";
    src: url("http://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg"); /* iOS 4.1- */
}
html, body {  width: 100%!important;
    height: 100%;
    min-height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
