<div class="d-flex flex-fill fit" >
    <div class="container-fluid d-flex justify-content-center">
        <div class="p-2 d-flex align-items-center" id="unavailable">
            <div class="flex-column flex-fill "  style="text-align: center;">
                <div>

                    <p>
                        HI
                        
                    </p>
                </div>

                <div >
                    <p>
                        
                            This project is for purpose of a class "Techniki Programowania Frontendowego".
        
                            The application was created for kpop fans who use social medias such as Facebook, Twitter, Instagram. These social media are necessary to be up to date with information about the idols. The application merges together these three social media.
                        
                    </p>
                    
                </div>

                <div class="container">
                    <div class="row">
                      <div class="col-4">
                        <div class="d-flex align-items-start ">
                          <img class = "img-fluid fit" src="assets/images/Icon ionic-logo-twitter.svg">
                        </div>
        
          
                      </div>
                      <div class="col-4 d-flex justify-content-center">
                        <img class ="img-fluid fit" src="assets/images/Icon simple-facebook.svg">
                      </div>
                      <div class="col-4">
                        <div class ="d-flex d-flex justify-content-end">
                            <img class="img-fluid fit" src="assets/images/Icon zocial-instagram.svg">
                          </div>
                        
                      </div>
                    </div>
        
        
                  </div>

            </div>
            
        </div>
    </div>

    
</div>
